body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif;}
body, html {
  height: 100%;
  width: auto;
  color: #0095B3;
  line-height: 1.8;
}

code {
  font-family: 'Courier New', monospace;
  padding: 1px;
  border: outset #0095b36b;
  border-radius: 3px;
}

.w3-text-black{
  color: #000;
}

.header{
  background-color: #fff;
}

.title{
  left: 40px !important
}
.bgimg, .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.bgimg-1 {
    min-height: 100vh;
    background-image: url('../../resources/Wet_bulb_temp_max2024.png');
    /* background-color: #2196F3; */
}

.bgimg-2 {
    min-height: 100vh;
    background-image: url('../../resources/Wet_bulb_temp_max2100.png');
    /* background-color: #103410; */
}

.bgimg-3 {
  min-height: 25vh;
  background-image: url('../../resources/WB_temp_bands.png');
  /* background-color: #103410; */
}


.year_l, .year_r {
  bottom:20%;
  position: absolute;
}

.year_l{
  width: 100%;
  left: 0;
  color: #000;
}

.year_r{
  width: 50%;
  right: 0;
  color: #000;
}

.image-comparison {
  min-width: 700px;
  overflow: hidden;
}

.image-comparison .images-container {
  position: relative;
  display: flex;
}

.image-comparison .images-container .before-image {
  position: absolute;
  top: 0;
  width: 25%;
}

.image-comparison .images-container .after-image {
  /* position: absolute; */
  top: 0;
  width: 100%;
  min-height: 100vh;
}

.image-comparison .slider {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  z-index:1;
}

.image-comparison .slider-line {
  position: absolute;
  height: 100%;
  width: 3px;
  background: #000;
  left: 50%;
  transform: translateX(-50%);
  z-index:1
}

.image-comparison .slider-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60px;
  height: 60px;
  color: #000;
  transform: translate(-50%, -50%) rotateZ(90deg);
}

.down-arrow {
  position: relative;
  bottom: 0px;
  left: 50%;
  width: 0;
  height: 30px;
  border: 2px solid;
  border-radius: 2px;
  color: #000;
}

.down-arrow:after {
  content: " ";
  position: absolute;
  top: 10px;
  left: -10px;
  width: 20px;
  height: 20px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

.down-arrow:before {
  content: " ";
  position: absolute;
  top: 4px;
  left: -15px;
  width: 30px;
  height: 30px;
  border-bottom: 4px solid;
  border-right: 4px solid;
  border-radius: 4px;
  transform: rotateZ(45deg);
}

.risk_colorbar{
  text-align: right;
  right: 0;
  margin: 15px 30px;
  z-index:0
}

.risk_colorbar img{
  max-height:75px;
}

#formula {
  max-width: 100%;
  overflow-x: auto;
}